{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url Shortening</title>
    <link type="text/css" rel="stylesheet" href="{% static 'shorten/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shorten/css/style.css' %}">
    <script src="{% static 'shorten/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'shorten/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shorten/js/style.js' %}"></script>
</head>
<body>
    <form class="form-inline" id="url_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="url">Enter a long url to make tiny</label>
            <input type="text" class="form-control" max="3000" name="url" id="url" />
        </div>
        <button type="submit" class="btn btn-info">Make Tiny Url!</button>
    </form>
    <div class="progress" id="prog">
        <div class="progress-bar progress-bar-striped active" style="width:100%;">
        </div>
    </div>
    <p id="demo"></p>
</body>
</html>
